<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctis.demo.mapper.OrgInfoMapper">
    <insert id="addOrg" parameterType="com.ctis.demo.pojo.OrgInfo">
        insert into ctis.t_org_info
        set orgID=#{orgID},
            orgName=#{orgName},
            parentOrgID=#{parentOrgID},
            active=#{active}
    </insert>
    <update id="deleteOrg" parameterType="String">
        update ctis.t_org_info
        set active=0
        where orgID=#{orgID}
    </update>
    <update id="updateOrg" parameterType="com.ctis.demo.pojo.OrgInfo">
        update ctis.t_org_info
        set orgName=#{orgName}, parentOrgID=#{parentOrgID}, active=#{active}
        where orgID=#{orgID}
    </update>
    <select id="getOrgList" resultType="com.ctis.demo.pojo.OrgInfoVO">
        select a.*, b.orgName parentOrgName
        from ctis.t_org_info a left join ctis.t_org_info b on a.parentOrgID=b.orgID
        where a.active=1
    </select>
    <select id="getOrg" parameterType="String" resultType="com.ctis.demo.pojo.OrgInfoVO">
        select a.*, b.orgName parentOrgName
        from ctis.t_org_info a left join ctis.t_org_info b on a.parentOrgID=b.orgID
        where orgID=#{orgID}
        and a.active=1
    </select>
</mapper>